@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');


*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}



/* header and navbar */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    z-index: 3;
}

.logo-container {
    width: 210px;
    height: auto;
}

.logo-container img {
    width: 100%;
    display: block;
    height: auto;
}

.desktop-main-menu-navigtion {
    margin-right: 50px;
}

.desktop-main-menu-navigtion ul {
    display: flex;
}

.desktop-main-menu-navigtion ul li {
    margin-right: 20px;
    position: relative;
    padding-bottom: 2px;
}


/* animated bottom border of menu items */
.desktop-main-menu-navigtion ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right center;
}

.desktop-main-menu-navigtion ul li a:hover:after {
    transform: scaleX(100%);
    transform-origin: left center;
    transition-duration: 0.4s;
}



/* Section styles */
section {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-inner-text {
    position: absolute;
    left: 160px;
    bottom: 250px;
}


.section-inner-text h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-inner-text h4 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
}



/* Background image */
.section-one {
    background-image: url("../images/section-a.webp");
}

