@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');


*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}



/* header and navbar */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    z-index: 3;
}

.logo-container {
    width: 210px;
    height: auto;
}

.logo-container img {
    width: 100%;
}
